<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/css/layui.css">
    <link rel="stylesheet" href="../../../static/css/modules/layer/default/layer.css">
</head>
<body>
<button class="layui-btn" test-active="test-form" id="test">一个按钮</button>

<script src="../../../static/js/jquery-3.3.1.js"></script>
<script src="../../../static/js/layer.js"></script>
<script>
    $(document).on('click','#test',function () {
        alert("dhsjhj");
        layer.msg("dhsjj");
    })

</script>
</body>
</html>