<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单</title>
    <link rel="stylesheet" href="../../../static/css/layui.css">

</head>
<body>
<fieldset class="layui-elem-field">
    <legend></legend>
    <div class="layui-field-box">
        <form class="layui-form layui-form-pane" action="" id="CompanyFrom">
            <div class="layui-form-item">
                <input name="netId" type = "hidden">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">企业编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="companyCode" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">企业名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="companyName" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">负责人员</label>
                        <div class="layui-input-inline">
                            <input type="text" name="responsiblePerson" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <hr class="layui-border-orange">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">远程信息</label>
                    <div class="layui-input-block">
                        <textarea name="computerInfo" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <hr class="layui-border-blue">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">数据库信息</label>
                    <div class="layui-input-block">
                        <textarea name="databaseInfo" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <hr class="layui-border-red">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">特殊方式</label>
                    <div class="layui-input-block">
                        <textarea name="specialInfo" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <hr class="layui-border-cyan">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>


<script src="../../../static/js/jquery-3.3.1.js"></script>
<script src="../../../static/js/layui.js"></script>
</body>
</html>